<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务出错了</title>
    <!--<meta name="viewport"-->
          <!--content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">-->

        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">-->
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}">-->
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/init.css' %}">-->
</head>
<body>

        <p>对不起，服务出错了</p>

</body>
</html>
