<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务出错了</title>
    <!--<meta name="viewport"-->
          <!--content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">-->
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">-->
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/init.css' %}">-->
</head>
<body>
<!--<main>-->
    <!--<section>-->
        <!--<div>-->
            <!--<p>5-->
                <!--<span>-->
        <!--<i class="iconfont">&#xe932;</i>-->
        <!--</span>-->
                <!--5-->
            <!--</p>-->
        <!--</div>-->
        <p>对不起，服务出错了</p>
    <!--</section>-->
<!--</main>-->
<!--<p class="return">-->
    <!--<a href="http://badminton.amberwuwu.com/">回到首页</a>-->
<!--</p>-->
</body>
</html>
