<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动详情</title>
</head>



    <body>
   <header id="top"> <!-- 内容显示区域 ：width : 1211px -->
        <div id="top_box">
            <ul class="rt"> {% if username %}
                <li>用户名: {{ username }}</li>
                <li><a href="{% url 'logout' %}">退出登录</a></li>
                 </ul>
            <h3 align="left">活动详情</h3>
    <table border="1" height="100" width="300" cellspacing="0" align="left">
        <tr align="center">
            <td>报名人员</td>
        </tr>
        {% for value in user_info %}
        <tr align="center">
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>

        </div><br>
       <br><br><br><br>
      <form class="form" action="" method="post">
          {% csrf_token %}
                        <input type="hidden" name="join" value=1>
                        <button name="join" type="submit">报名</button>
      </form>
                {% else %}
                <li><a href="{% url 'login' %}">登录</a></li>
                <li><a href="{% url 'register' %}">注册</a></li>
                {% endif %}
            </ul>
            {% if txt %}<div>{{ txt }}</div>
            {% endif %}

    </header>


</div>
</body>
</html>