<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动详情</title>
    <script type="text/javascript">
            let isCommitted = false;//表单是否已经提交标识，默认为false
            function dosubmit(){
              if(isCommitted===false){
                isCommitted = true;//提交表单后，将表单是否已经提交标识设置为true
                return true;//返回true让表单正常提交
             }else{
                 return false;//返回false那么表单将不提交
             }
         }
        </script>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>



    <body>
   <header id="top"> <!-- 内容显示区域 ：width : 1211px -->
        <div id="top_box">
            <ul class="rt">
                {% if username %}
                <li>用户名: {{ username }}</li>
                <li><a href="{% url 'logout' %}">退出登录</a></li>
                 </ul>
            <h3 align="left">活动详情</h3>
            <table border="1" height="100" width="300" cellspacing="0" align="left">
        <tr align="center">
            <td>报名人员</td>
            <td>是否替补</td>
        </tr>
        {% for key, value in new_join_dic.items %}
        <tr align="center">
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>

        </div><br>
       <br><br><br><br><br><br>

      <form class="form" action="" method="post">

      {% csrf_token %}
          {% if not is_join and not is_full %}
          <input type="hidden" name='join' value="join">
            <input type="submit" value="报名">
          {% elif is_join %}
            <input type="hidden" name='cancel' value="cancel">
            <input type="submit" value="取消报名">
          {% elif not is_join and is_full and not is_substitution %}
            <input type="hidden" name='substitution' value="substitution">
            <input type="submit" value="报名替补">
          {% elif is_substitution %}
            <input type="hidden" name='cancel_substitution' value="cancel_substitution">
            <input type="submit" value="取消替补">
          {% endif %}
      </form>

          {% else %}
            <ul>
                <li><a href="{% url 'login' %}">登录</a></li>
                <li><a href="{% url 'register' %}">注册</a></li>{% endif %}
            </ul>

            {% if txt %}<div>{{ txt }}</div>{% endif %}


    </header>

</body>
</html>