<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/init.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/user.css' %}">
</head>
<body>
<header>
    <h1>小羽毛报名系统</h1>

</header>
<main>
    <section>
        {% if tips %}
        <p class="tips">{{ tips }}</p>
        {% endif %}
        <form class="form" action="" method="post">
            <h3>{% csrf_token %}</h3>
            <label>
                <span>用户名:</span>
                <input type="text" name='username'>
            </label>
            {% if title == '注册' %}
            <label>
                <span>微信号:</span>
                <input type="text" name='weChat'>
            </label>
            {% endif %}
            <label>
                <span>密码:</span>
                <input type="password" name='password'>
            </label>
            {% if new_password %}
            <label>
                <span>新密码:</span>
                <input type="password" name='new_password'>
            </label>
            {% endif %}
            <button type="submit" class="submit" class="submit">确定</button>
        </form>
        <div class="otherLinks">
           <a class="link left" href="{{ unit_2 }}">{{ unit_2_name }}</a>
           <a class="link right" href="{{ unit_1 }}">{{ unit_1_name }}</a>
        </div>
    </section>
</main>
</body>
</html>