/*大家通用的样式*/

body {
    background-color: rgb(247, 247, 247);
    font-size: 18px;
    color：rgb(36,41,46);
}
@media(max-width: 600px){
    body {
        font-size: 16px;
    }
}
main .tips {
    margin-top: 20px;
    padding: 8px 20px;
    border: 1px solid rgb(200, 225, 255);
    background-color: rgb(241, 248, 255);
    border-radius:6px;
}
@media(max-width: 600px){
    main .tips {
        margin-top: 12px;
        padding: 4px 10px;
        border-radius:4px;
    }
}
@font-face {
    font-family: 'iconfont';  /* project id 2204267 */
    src: url('//at.alicdn.com/t/font_2204267_sog20s4vy7.eot');
    src: url('//at.alicdn.com/t/font_2204267_sog20s4vy7.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2204267_sog20s4vy7.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2204267_sog20s4vy7.woff') format('woff'),
    url('//at.alicdn.com/t/font_2204267_sog20s4vy7.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2204267_sog20s4vy7.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*index和activity页面上时间、地点、是否订满的小图标的颜色*/
.timeFlag{
    color: rgb(86, 61, 124);
}
.fullFlag{
    color: rgb(43, 116, 137);
}
.placeFlag{
    color: rgb(241, 224, 90);
}
.full{
    color:rgb(227, 76, 38);;
}
footer {
    font-size: 14px;
    margin-top: 20px;
    max-width: 1200px;
    color:rgb(88, 96, 105);
    padding-left: 30px;
    padding-right: 30px;
}
footer i{
    font-size: 20px;
}
footer a{
    color: rgb(3, 104, 214);
}
@media (max-width: 600px) {
    footer {
        position: fixed;
        bottom: 20px;
        margin-top: 30px;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    footer i{
        font-size: 18px;
    }
}