header {
    max-width: 1200px;
    margin-top: 40px;
    height: 110px;
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
}

header ul {
    display: flex;
    line-height: 110px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
header ul li{
    margin-left: 0;
    margin-right: 0;
}
header ul li i{
    font-size: 26px;
}
header ul li a {
    font-weight: 700;
    font-size: 16px;
    color: rgb(3, 102, 214);
}

@media (max-width: 600px) {
    header {
        margin-top: 20px;
        height: 60px;
        margin-bottom: 10px;
    }
    header ul {
        line-height: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
    header ul li a {
        font-size: 14px;
    }
}