

main {
    max-width: 1200px;
    padding: 40px;
    background-color: #fff;
}

main h3 {
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color:rgb(36,41,46);
    border-bottom: 1px solid rgb(174, 193, 207);
}

@media (max-width: 600px) {
    main h3 {
        font-size: 20px;
    }
}

main ul {
    text-align: center;
}

main ul li {
    padding: 24px;
    text-align: left;
    border-bottom: 1px solid rgba(174, 193, 207,0.5);
}


main ul li h4 {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
}
main ul li h4 span{
    margin-left: 0;
    margin-right: 0;
}
main ul li h4 a{
    margin-left: 0;
    margin-right: 0;
    color: rgb(3, 104, 214);
    font-size: 16px;
    line-height: 22px;
}

main ul li p {
    max-width: 1200px;
    margin-top: 5px;
    color:rgb(88,96,105);
    line-height: 24px;
}
main ul li p span{
    display: inline-block;
    font-size:16px ;
}

main ul li p span i{
    font-size: 20px;
}
main ul li p .time{
    width: 265px;
}
main ul li p .place{
    width: 150px;
}
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
    main ul li{
        padding: 16px 16px 12px 16px;
    }
    main ul li h4 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 6px;
    }

    main ul li h4 a{
        font-size: 14px;
        line-height: 18px;
    }

    main ul li p {
        margin-top: 4px;
    }
    main ul li p span{
        font-size:14px ;
    }
    main ul li p .time{
        width: 235px;
    }
    main ul li p .place{
        width: 130px;
    }
    main ul li p span i{
        font-size: 18px;
    }

}


