<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <title>所有活动</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/init.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header_index_activity.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}" ></script>
    <script src="{% static 'js/index.js' %}" ></script>

</head>

<body>
<header id="top"> <!-- 内容显示区域 ：width : 1211px -->
    <div id="top_box" class="user">
        <ul>
            {% if username %}
            <li><span><i class="iconfont">&#xe630;</i> 用户: {{ username }}</span></li>
            <li><a href="{% url 'logout' %}">退出登录</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">登录</a></li>
            <li><a href="{% url 'register' %}">注册</a></li>
            {% endif %}
        </ul>
    </div>
</header>
<main>
    <h3>所有活动</h3>
    {% if username %}
    <ul>
        {% for i in activity %}
        <li>
            <h4><span>{{ i.activity_name }}</span><a href="/new_user/activity/{{ i.activity_number }}.html">查看详情</a></h4>
            <p>
                <span class="time"><i class="iconfont timeFlag" >&#xe67d;</i>&nbsp;{{ i.activity_start_time}}-{{i.activity_end_time.time}}</span>
                <span class="place"><i class="iconfont placeFlag" >&#xe609;</i>&nbsp;{{ i.activity_place}}</span>
                <span ><i class="iconfont fullFlag" >&#xe6b9;</i>&nbsp; <em>{{ i.is_full}}</em></span>
            </p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="tips">未登录，登录后可查看活动详情</p>
    <ul>
        {% for i in activity %}
        <li>
            <h4><span>{{ i.activity_name }}</span></h4>
            <p>
                <span class="time"><i class="iconfont timeFlag" >&#xe67d;</i>&nbsp;{{ i.activity_start_time }}-{{i.activity_end_time.time}}</span>
                <span class="place"><i class="iconfont placeFlag" >&#xe609;</i>&nbsp;{{ i.activity_place }}</span>
                <span ><i class="iconfont fullFlag" >&#xe6b9;</i>&nbsp; <em>{{ i.is_full }}</em></span>
            </p>
        </li>
        {% endfor %}
    </ul>
        {% endif %}

</main>
<footer>
    <p><i class="iconfont">&#xe611;</i>&nbsp;期待您<a href="https://www.yuque.com/lxs/topics/1"> 留下 </a>使用反馈或建议，我们会不定期但尽快的回复奥</p>
</footer>
</body>
</html>